doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/fixedheader/3.1.3/css/fixedHeader.dataTables.min.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js")
  body
    block content
